<% provide(:title, @user.name) %>

<div>
  <div class="container">
    <div>
      <div class="col-sm-4 border">(ここにカレンダー入る)時間管理表</div>
      <div class="col-sm-3 border">指定勤務時間</div>
      <div class="col-sm-3 border">基本時</div>
      <div class="col-sm-2 border">初日</div>
    </div>

    <div>
      <div class="col-sm-4 border">所属</div>
      <div class="col-sm-3 border">氏名：<%= @user.name %></div>
      <div class="col-sm-1 border">コード</div>
      <div class="col-sm-2 border">出勤日数</div>
      <div class="col-sm-2 border">締め</div>
    </div>
  </div>
</div>