<% provide(:title, @user.name) %>

<div>
  <table class="table table-condensed table-bordered">
    <tr>
      <td class="col-4">(ここにカレンダー入る)時間管理表</td>
      <td class="col-3">指定勤務時間: <%= format_basic_info(@user.work_time) %></td>
      <td class="col-3">基本時: <%= format_basic_info(@user.basic_time) %></td>
      <td class="col-2">初日</td>
    </tr>

    <tr>
      <td class="col-2">所属:<%= @user.department.present? ? @user.department : "所属なし" %></td>
      <td class="col-2">氏名：<%= @user.name %></td>
      <td class="col-2">コード</td>
      <td class="col-1"></td>
      <td class="col-2">出勤日数</td>
      <td class="col-3">締め</td>
    </tr>
  </table>
</div>